<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>803530971762-rfv7grnctadn85il55tjljncubk9v995.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803530971762-rfv7grnctadn85il55tjljncubk9v995</string>
	<key>API_KEY</key>
	<string>AIzaSyAhgb5kC1AymN7hnmNpVIQyulUJLmTbrnE</string>
	<key>GCM_SENDER_ID</key>
	<string>803530971762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MadneZ.Motivator1</string>
	<key>PROJECT_ID</key>
	<string>motivator1-ef1fb</string>
	<key>STORAGE_BUCKET</key>
	<string>motivator1-ef1fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803530971762:ios:7437bac40e60cd5f</string>
	<key>DATABASE_URL</key>
	<string>https://motivator1-ef1fb.firebaseio.com</string>
</dict>
</plist>